a {
    text-decoration: none;
}

.picture {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: -1px 0px 0px -1px;
    object-fit: cover;
    padding: 0px;
    position: absolute;
    width: 100%;
    height: 80px;
}

.picture h2 {
    color: #fff;
    margin-left: 40px;
    text-align: center;
}

.fleex {
    display: inline-flex;
    word-wrap: initial;
    list-style-type: none;
    font-size: 1.2rem;
    line-height: 1.5rem;
    text-transform: capitalize;
    margin-right: 0.5rem;
    text-align: center;
}

.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.box p {
    margin: 20px;
    border: 1px solid red;
    border-radius: 5px;
    font-weight: bold;
    flex: 1;
    height: 30px;
    text-align: center;
    color: #fff;
}

@media only screen and (max-width: 768px) {
    header {
        height: 150px;
    }
    .logo {
        width: 100%;
    }
    .links {
        width: 100%;
    }
}